  .puzzlegame {
    display: flex;
    flex-direction: column; /* Atur elemen menjadi kolom */
      align-items: center; /* Pusatkan elemen secara horizontal */
      position: relative;
      width: 100%;
      height: auto;
      font-family: var(--judul-font);
      color: var(--btn);
    }

    .puzzlegame h1 {
      margin-bottom: 10px;
      font-size: 2rem;
      text-align: center;
      color: var(--text)
      text-shadow: 0 2px 5px solid black;
    }
    
    .puzzlegame h1 span {
      color: var(--pita);
    }

    .level {
      font-size: 20px;
      margin-bottom: 15px;
      font-family: var(--badan1-font);
      font-style: italic;
    }

    .container {
      display: grid;
      position: relative;
      grid-template-columns: repeat(4, 100px);
      grid-gap: 2px;
      justify-content: center;
      margin: auto;
      background: ;
      padding: 2px;
      width: 100wh;
      height: auto;
      font-family: var(--badan1-font);
      font-weight: bold;
    }

    .tile {
      width: 25wh;
      height: 100px;
      margin: 0;
      background: linear-gradient(135deg, #3e1d0a, #5c1817, #6c2604, #844205);
      animation: gradientAnimation 1s ease infinite;
      color: var(--text);
      text-shadow: 0 2px 5px black;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      cursor: pointer;
    }

    .tile.empty {
      background: var(--alpa);
      cursor: default;
    }

    .level {
      font-size: 20px;
      margin: 10px 0;
    }
